{% extends 'home.html' %}

{% block title %}Log In{% endblock %}


{% block main-content-teacher %}
{% if assessment_problems %}
<h2>This assessment contains the following problems:</h2>
{% for problem in assessment_problems %}
<ul>{{ problem }}</ul>
{% endfor %}
{% else %}
<h3>This assessment contains no problems.</h3>
<h3>You have to create at list one problem in order to generate an assessment.</h3>
{% endif %}
<h1>Create Problem</h1>
<form action="{% url 'create-assessment' %}" method="post">
    {% csrf_token %}
    {{ create_problem_form.as_p }}
    <input type="submit" value="Create" name="create-problem">
</form>
<h3>One last step: give this assessment a title and generate it.</h3>
<form action="{% url 'create-assessment' %}" method="post">
    {% csrf_token %}
    {{ create_assessment_form.as_p }}
    <input type="submit" value="Generate" name="create-assessment">
</form>
{% endblock %}

