{% extends 'home.html' %}

{% block title %}Create Assessment{% endblock %}


{% block main-content-teacher %}

<h2>This assessment contains the following problems:</h2>
{% for problem, answers in problems_and_answers.items %}
<li>{{ problem }}</li>
{% for answer in answers %}
<ul>{{ answer }}</ul>
{% endfor %}
{% endfor %}

{% if not problem_to_be_answered %}
<h1>Create Problem</h1>
<form action="{% url 'create-assessment' %}" method="post">
    {% csrf_token %}
    {{ create_problem_form.as_p }}
    <input type="submit" value="Create" name="create-problem">
</form>
{% else %}
<h1>Create Answer to {{ problem_to_be_answered }}</h1>
<form action="{% url 'create-assessment' %}" method="post">
    {% csrf_token %}
    {{ create_answer_form.as_p }}
    <input type="submit" value="Create" name="create-answer">
    <input type="submit" value="Finish Problem" name="problem-finished">
</form>
{% endif %}

<h3>One last step: give this assessment a title and generate it.</h3>
<form action="{% url 'create-assessment' %}" method="post">
    {% csrf_token %}
    {{ create_assessment_form.as_p }}
    <input type="submit" value="Generate" name="create-assessment">
    <input type="submit" value="Reset" name="reset-assessment">
</form>
{% endblock %}

