{% extends 'home.html' %}

{% block title %}Delete Assessment{% endblock %}


{% block main-content-teacher %}

{% if user_assessments %}
<h1>Delete Assessment</h1>
<table>
    {% for assessment in user_assessments %}
    <tr>
        <td>
            <ul>{{ assessment }}</ul>
        </td>
        <td>
            <ul><a href="{% url 'delete' assessment.id %}">X</a></ul>
        </td>
    </tr>
    <tr></tr>
    {% endfor %}
</table>

{% else %}
No assessment to delete.
{% endif %}

{% endblock %}