{% extends 'home.html' %}

{% block title %}Edit Assessment{% endblock %}


{% block main-content-teacher %}

<h1>Edit Assessment</h1>
{% for assessment in user_assessments %}
<ul><a href="{% url 'edit' assessment.id %}">{{ assessment }} </a></ul>
{% endfor %}
<h1>Assessment: </h1><h2>{{ current_assessment }}</h2>
{% if assessment_problems %}
<h2>This assessment contains the following problems:</h2>
{% for problem in assessment_problems %}
<ul><a href="{% url 'edit-problem' problem.id %}">{{ problem }}</a></ul>
{% endfor %}
{% endif %}
{% if problem_to_edit %}
<h1>Edit Problem </h1><h3>{{ problem_to_edit }}</h3>
<form action="{% url 'edit-problem' problem_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ edit_problem_form.as_p}}
    <input type="submit" name="edit-problem" value="Edit">
</form>
{% endif %}
{% endblock %}