{% extends 'home.html' %}

{% block title %}Edit Assessment{% endblock %}


{% block main-content-teacher %}

<!--List of the assessments.-->
{% if user_assessments %}
<h1>Edit Assessment</h1>
{% for assessment in user_assessments %}
<ul><a id="editable-assessment" href="{% url 'edit' assessment.id %}">{{ assessment }} </a></ul>
{% endfor %}
{% else %}
No assessment to edit.
{% endif %}

<!--Assessment currently edited.-->
{% if current_assessment %}
<h3>Assessment being edited: </h3>
<ul>{{ current_assessment }}</ul>
{% endif %}

<!--This assessment problems.-->
{% if assessment_problems %}
<h2>This assessment contains the following problems:</h2>
{% for problem, data in problems_data.items %}
<ul>
    <a href="{% url 'edit-problem' problem.id %}">
        <h2>PROBLEM</h2>
        <br>
        {% if problem.description != '' %}
        Description:
        <ul>{{ problem.description }}</ul>
        {% endif %}
        <br>Question:
        <ul>{{ problem }}</ul>
        <br>Available Answers:
        {% for answer in data.0 %}
        <ul>{{ answer.answer }}</ul>
        {% endfor %}
        {% for correct_answer in data.1 %}
        <br>correct Answer:
        <ul>{{ correct_answer.answer }}</ul>
        {% endfor %}
    </a>
    <a id="delete-problem" href="{% url 'delete-problem' problem.id %}">Delete</a>
    <br>{% if problem_with_no_answer == problem %}
    ATTENTION: this problem is missing an available answer.
    Please create one.
    {% endif %}
</ul>
{% endfor %}
{% endif %}

<!--Add problem to existing assessment.-->
{% if current_assessment %}
<br><a id="add-problem" href="{% url 'add-problem' current_assessment.id %}">Add new Problem</a>
{% endif %}
{% if assessment_to_edit %}
<form action="{% url 'add-problem' assessment_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ create_problem_form.as_p }}
    <h2>Once you click the 'Add' button, remember to add available answers to this problem by selecting it in the list
        above.</h2>
    <br><input type="submit" value="Add" name="create-problem">
</form>
{% endif %}

<!--This problem available answers.-->
{% if problem_answers_queryset %}
<h3 id="answers-available">Answers available for this problem:</h3>
{% for answer in problem_answers_queryset %}
<table id="editable-answers">
    <tr>
        <td>
            <ul class="answer">{{ answer.answer }}</ul>
        </td>
        <td><a id="edit-answer" href="{% url 'edit-answer' answer.id %}">Edit</a></td>
        <td><a id="delete-answer" href="{% url 'delete-answer' answer.id %}">Delete</a></td>
        {% if answer.is_correct_answer == True %}
        <h4 id="correct">This answer has been selected as the correct one.</h4>
        {% else %}
        <h4 class="select-as-correct"><a id="select-as-correct" href="{% url 'set-correct-answer' answer_id=answer.id from_view='edit-problem'%}">Select
            as correct answer</a></h4>
        {% endif %}

    </tr>
</table>
{% endfor %}
{% endif %}

{% if problem_to_edit %}
<!--Add answer to existing problem.-->
<a href="{% url 'add-answer' problem_id=problem_to_edit.id %}"  id="add-answer">Add new answer</a>
{% if create_answer_form %}
<h1>Create an answer to "{{ problem_to_edit }}"</h1>
<form action="{% url 'add-answer' problem_id=problem_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ create_answer_form.as_p }}
    <input type="submit" value="Add" name="create-answer">
</form>
{% endif %}
{% endif %}

<!--Problem being edited.-->
{% if problem_to_edit and not create_answer_form %}
<h1>Edit Problem </h1>
<h3>Description: </h3>{{ problem_to_edit.description }}
<h3>Question: </h3>{{ problem_to_edit }}
<form action="{% url 'edit-problem' problem_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ edit_problem_form.as_p}}
    {% if problem_answers_queryset %}
    <input type="submit" name="edit-problem" value="Finish">
    {% else %}
    An asessment must contain at list one answer to be subbitted.
    {% endif %}
</form>
{% endif %}

<!--Answer being edited.-->
{% if edit_answer_form %}
<h1>Edit Answer to problem: </h1>{{ answer_problem }}
<h3>answer: </h3>{{ answer_to_edit.description }}
<form action="{% url 'edit-answer' answer_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ edit_answer_form.as_p}}
    <input type="submit" name="edit-answer" value="Edit">
</form>
{% endif %}

{% endblock %}