{% extends 'home.html' %}

{% block title %}Edit Assessment{% endblock %}


{% block main-content-teacher %}

<!--List of the assessments.-->
{% if user_assessments %}
<h1>Edit Assessment</h1>
{% for assessment in user_assessments %}
<ul><a href="{% url 'edit' assessment.id %}">{{ assessment }} </a></ul>
{% endfor %}
{% else %}
No assessment to edit.
{% endif %}

<!--Assessment currently edited.-->
{% if current_assessment %}
<h3>Assessment being edited: </h3>
<ul>{{ current_assessment }}</ul>
{% endif %}

<!--This assessment problems.-->
{% if assessment_problems %}
<h2>This assessment contains the following problems:</h2>
{% for problem in assessment_problems %}
<ul>
    <a href="{% url 'edit-problem' problem.id %}">
        PROBLEM
        <br>Description:
        <ul>{{ problem.description }}</ul>
        <br>Question:
        <ul>{{ problem }}</ul>
        <a href="{% url 'delete-problem' problem.id %}">Delete</a>
</ul>
{% endfor %}
{% endif %}

<!--Add problem to existing assessment.-->
{% if current_assessment %}
<br><a href="{% url 'add-problem' current_assessment.id %}">Add new Problem</a>
{% endif %}
{% if assessment_to_edit %}
<form action="{% url 'add-problem' assessment_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ create_problem_form.as_p }}
    <input type="submit" value="Add" name="create-problem">
</form>
{% endif %}

<!--This assessment available answers.-->
{% if problem_answers_queryset %}
<h3>Answers available for this problem:</h3>
{% for answer in problem_answers_queryset %}
<ul>{{ answer.answer }} <a href="{% url 'edit-answer' answer.id %}">Edit</a>
    <a href="{% url 'delete-answer' answer.id %}">Delete</a></ul>
{% endfor %}
{% endif %}

{% if problem_to_edit %}
<!--Add answer to existing problem.-->
<a href="{% url 'add-answer' problem_to_edit.id %}">Add new answer</a>
{% if create_answer_form %}
<h1>Create an answer to "{{ problem_to_edit }}"</h1>
<form action="{% url 'add-answer' problem_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ create_answer_form.as_p }}
    <input type="submit" value="Add" name="create-answer">
</form>
{% endif %}
{% endif %}

<!--Problem being edited.-->
{% if problem_to_edit and not create_answer_form %}
<h1>Edit Problem </h1>
<h3>Description: </h3>{{ problem_to_edit.description }}
<h3>Question: </h3>{{ problem_to_edit }}
<form action="{% url 'edit-problem' problem_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ edit_problem_form.as_p}}
    {% if problem_answers_queryset %}
    <input type="submit" name="edit-problem" value="Finish">
    {% else %}
    An asessment must contain at list one answer to be subbitted.
    {% endif %}
</form>
{% endif %}

<!--Answer being edited.-->
{% if edit_answer_form %}
<h1>Edit Answer to problem: </h1>{{ answer_problem }}
<h3>answer: </h3>{{ answer_to_edit.description }}
<form action="{% url 'edit-answer' answer_to_edit.id %}" method="post">
    {% csrf_token %}
    {{ edit_answer_form.as_p}}
    <input type="submit" name="edit-answer" value="Edit">
</form>
{% endif %}

{% endblock %}