{% extends 'home.html' %}

{% block title %}Find Assessment{% endblock %}


{% block main-content-student %}

<!--Search Box.-->
<h2>Find Assessment</h2>
<form action="{% url 'find-assessment' %}" method="post">
    {% csrf_token %}
    {{ find_assessment_form.as_p }}
    <input type="submit" value="Search">
</form>

{% if search == None and searched_assessment == None %}
<h3>Please enter an assessment ID.</h3>
{% elif not searched_assessment %}
<h3>There is no assessment with ID "{{ search }}."</h3>
{% elif assessment_already_answered %}
<h3>"{{ assessment_already_answered.assessment }}" has already been answered by you (
    {{ assessment_already_answered.student }}).</h3>
{% else %}
<br><a href="{% url 'start-assessment' assessment_id=search question_id=first_problem.id %}" id="start-assessment">
    {{ searched_assessment.title }}</a>
{% endif %}

{% endblock %}

