{% extends 'home.html' %}

{% block title %}Find Assessment{% endblock %}


{% block main-content-student %}

<!--Search Box.-->
<h2>Find Assessment</h2>
<form action="{% url 'find-assessment' %}" method="post">
    {% csrf_token %}
    {{ find_assessment_form.as_p }}
    <input type="submit" value="Search">
</form>

{% if search == None and searched_assessment == None %}
Please enter an assessment ID.
{% elif not searched_assessment %}
There is no assessment with ID "{{ search }}."
{% else %}
<br><a href="{% url 'start-assessment' assessment_id=search question_id=first_problem.id %}">{{ searched_assessment.title }}</a>
{% endif %}

{% endblock %}

