{% extends 'home.html' %}

{% block title %}Start Assessment{% endblock %}


{% block main-content-student %}

<!--Assessment being carried out.-->
<h2>Assessment</h2>
<br>Questions:
{% for problem in problems %}
<a href="{% url 'start-assessment' assessment_id=assessment_id question_id=problem.id %}">{{ forloop.counter }}</a>
{% endfor %}
{% if current_problem.description != '' %}
<br>Description:
{% endif %}
<ul>{{ current_problem.description }}</ul>
<br>Question:
<ul>{{ current_problem }}</ul>
<br>Available Answers:
{% for answer in answers %}
<ul>{{ answer }}</ul>
{% endfor %}

<form action="{% url 'start-assessment' assessment_id=assessment_id question_id=current_problem.id %}" method="post">
    {% csrf_token %}
    {{ assessment_form }}
    <input type="submit" value="Select">
</form>
<a href="{% url 'start-assessment' assessment_id=assessment_id question_id=next_problem.id %}">Next</a>

{% endblock %}

