{% extends 'home.html' %}

{% block title %}Start Assessment{% endblock %}


{% block main-content-student %}

<!--Assessment being carried out.-->
<h2>Assessment</h2>
<h2>Questions:
{% for problem in problems %}
<a href="{% url 'start-assessment' assessment_id=assessment_id question_id=problem.id %}">{{ forloop.counter }}</a>
{% endfor %}</h2>
{% if current_problem.description != '' %}
<h2>Description:</h2>
{% endif %}
<ul>{{ current_problem.description }}</ul>
<br>Question number :
<ul>{{ current_problem }}</ul>
<br>Available Answers:
{% for answer in answers %}
<ul>{{ answer }}</ul>
{% endfor %}

<form action="{% url 'start-assessment' assessment_id=assessment_id question_id=current_problem.id %}" method="post">
    {% csrf_token %}
    {{ assessment_form }}
    <input type="submit" value="Select">
    <a href="{% url 'start-assessment' assessment_id=assessment_id question_id=next_problem.id %}" id="next">Next</a>
</form>
<a href="{% url 'finish-assessment' assessment_id=assessment_id %}" id="finish">Finish Assessment</a>

{% endblock %}

