<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<!--    <img src="{% static 'assessmentsystem/images/pxfuel.com.jpg' %}" alt="My image">-->
    <link rel="stylesheet" type="text/css" href="{% static 'assessmentsystem/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>