{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--Logo-->
<div class="col-12" id="logo">
    <h1><a href="{% url 'home' %}" class="logo">The Assessment System</a></h1>
</div>


<!--Navbar-->
<div class="col-12" id="navbar">
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" class="navbar-button">Log In</a>
    <a href="{% url 'signup' %}" class="navbar-button">Sign Up</a>
    {% else %}
    {% if user.is_admin %}
    <a href="/admin/" class="navbar-button">Admin</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="navbar-button">Log Out</a>
    {% endif %}
</div>

{% if messages %}
<!--Messages-->
<div class="col-12" id="messages">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}

{% if not user.is_authenticated %}
<!--Anonymous user Home Page-->
<div class="col-3" id="left-side-anonymous"></div>

<div class="col-6" id="main-content-anonymous">
    {% block main-content-anonymous %}
    {% endblock %}
</div>

<div class="col-3" id="right-side-anonymous"></div>

{% endif %}

<!--Teacher Home Page-->
{% if user.role == 'Teacher' %}

<div class="col-3" id="left-side-teacher">
    <br><a href="{% url 'create-assessment' %}" name="create-assessment" class="left-side-button">Create</a>
    <br><a href="{% url 'delete-assessment' %}" name="delete-assessment" class="left-side-button">Delete</a>
    <br><a href="{% url 'edit-assessment' %}" name="edit-assessment" class="left-side-button">Edit</a>
    <br><a href="{% url 'check-results' %}" name="check-results" class="left-side-button">Check Results</a>
</div>

<div class="col-6" id="main-content-teacher">
    {% block main-content-teacher %}
    {% endblock %}
</div>

<div class="col-3" id="right-side-teacher">
    {% if user_assessments %}
    <h3 class="right-side-title">Your Assessments</h3>
    {% for assessment in user_assessments %}
    <ul class="assessments-list">{{ assessment }}</ul>
    {% endfor %}
    {% else %}
    <h3 class="right-side-title">You have no assessments.</h3>
    {% endif %}
</div>


<!--Student Home Page-->
{% elif user.role == 'Student' %}
<div class="col-3" id="left-side-student">
    <br><a href="{% url 'find-assessment' %}" name="find-assessment" class="left-side-button">Find Assessment</a>
</div>

<div class="col-6" id="main-content-student">
    {% block main-content-student %}
    {% endblock %}
</div>

<div class="col-3" id="right-side-student">
    <h3 class="right-side-title">Your Results</h3>
    {% if student_results %}
    {% for result in student_results %}
    <ul class="student-results">
        <h2>{{ result }}</h2>
        <h2>Result: {{ result.correct_answers_percentage }}%</h2>
    </ul>
    {% endfor %}
    {% else %}
    <ul class="student-results">This student has no results yet.</ul>
    {% endif %}
</div>
{% endif %}

{% endblock %}