* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px ;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  font-family: sans-serif;
  margin: 3%;
}

#logo {
  text-align: center;
  font-family: 'Armata';
  font-size: 130%;
}

.logo {
 color: #3366ff;
 text-shadow: 2px 2px #b3c6ff;
}

a:hover.logo {
  color: #4d79ff;
}

a:link {
  text-decoration: none;
}

#navbar {
  background-color: #3366ff;
  border-top: 2px solid #b3c6ff;
  border-bottom: 2px solid #b3c6ff;
  border-left: 5px solid #b3c6ff;
}

.navbar-button {
  color: white;
  font-family: 'Blinker';
  margin-right: 15px;
  font-size: 150%;
  border-right: 1px solid #b3c6ff;
  padding-right: 15px;
}

a:hover.navbar-button {
  color: white;
  text-shadow: 1.4px 0.2px 0.5px #99b3ff;
}

.messages {
  border-left: 5px solid #3366ff;
  color: #3366ff;
  font-size: 18px;
  background-color: #e6e6e6;
  padding: 5px;
  padding-left: 15px;
}

#messages {
  padding-left: 0px;
  padding-right: 0px;
}

.left-side-button {
  color: white;
  font-family: 'Blinker';
  font-size: 180%;
  background-color: #3366ff;
  padding: 3px;
  padding-left: 15px;
  display: block;
  width: 150px;
  border-left: 5px solid #b3c6ff;
}

a:hover.left-side-button {
  color: white;
  text-shadow: 1.4px 0.2px 0.5px #99b3ff;
}

.right-side-title {
  font-family: 'Blinker';
  color: white;
  font-size: 120%;
  margin-block-start: 0px;
  margin-block-end: 5px;
  background-color: #3366ff;
  padding: 6px;
  font-weight: normal;
  text-align: center;
  border-left: 5px solid #b3c6ff;
}

#left-side-teacher {
  padding: 0px;

}

#left-side-student {
  padding: 0px;
}

div#right-side-teacher {
  float: left;
  padding-right: 0px;
}

ul {
  list-style-type: none;
  padding: 5px;
  background-color: #e6e6e6;
  margin-block-start: 0px;
  margin-block-end: 2px;
  padding-left: 15px;
  border-left: 5px solid #f2f2f2;
}